.msg-wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 20px;
    justify-content: center;
    align-items: flex-start;
}
.msg-wrapper-user{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 20px;
    justify-content: center;
    align-items: flex-end;
}
.chat-msg-user{
    max-width: 60%;
    background-color: rgb(228, 228, 228);
    padding: 10px;
    border-radius: 20px;
    color: black;
    margin: 0px;
}
.chat-msg{
    max-width: 60%;
    background-color: #2ea595;
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: 0px;
}
.time-ago{
    color: grey;
    font-size: 15px;
}