.profile-cover{
    height: 320px;
    position: relative;
}

.profile-cover-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profile-user-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info-name{
    font-size: 24px;
}

.profile-info-desc{
    font-weight: 300;
}

.butn{
    position: absolute;
    top: 425px;
    right: 200px;
}

.input-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    box-shadow: 5px 5px 5px rgb(211, 211, 211);
    border-radius: 10px;
    padding: 10px;
}

.input-holder{
    width: 100%;
    margin-top: 1.5rem;
}

.lbl{
    margin: 0rem 2rem;
    cursor: pointer;
}

.inp-type{
    border: none;
    border-bottom: 3px solid rgb(177, 177, 177);
    background-color: rgb(240, 240, 240);
    text-align: center;
    width: 30%;
    text-align: center;
}

.inp-type:focus{
    outline: none;
    border: 2px solid rgb(104, 104, 104);
    transition: 0.1s ease-in;
    border-radius: 5px;
}

.file-type{
    display: none;
}
