.navbar-Container {
    height: 10vh;
    width: 100%;
    background-color: #268b7e;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-Left {
    margin: 0rem 3rem;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.navbar-Center {
    flex: 5;
}

.searchbar {
    width: 100%;
    height: 6vh;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.search-Icon {
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    width: 70%;
}

.searchInput:focus {
    outline: none;
}

.navbar-Right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.navbar-Links{
    display: flex;
    flex-direction: row;
}

.navbar-Link {
    margin-right: 2rem;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-Icons {
    display: flex;
}

.navbar-Icon-Item {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.navbar-Icon-Badge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.navbarImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.nav-link{
    text-decoration: none;
}

.profile-picture{
    padding: 0.9rem 0.9rem;
}

.profile-picture:hover .navbarImg{
    width: 50px;
    height: 50px;
    transition: 0.2s;
}

.drop-menu{
    position: fixed;
    top: 9vh;
    right: 10px;
    background-color: rgb(248, 247, 247);
    width: 10vw;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    display: none;
}
.drop-item{
    text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 5px 20px;
    text-align: center;
}

.drop-item:hover{
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    cursor: pointer;
}

.drop-menu:hover{
    display: inline-block;
}
.profile-picture:hover .drop-menu{
    display: inline-block;
}